<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../static/css/style.css"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/react/15.3.2/react.min.js"
            th:src="@{/webjars/react/15.3.2/react.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/react/15.3.2/react-dom.min.js"
            th:src="@{/webjars/react/15.3.2/react-dom.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/babel/5.8.29-1/browser.min.js"
            th:src="@{/webjars/babel/5.8.29-1/browser.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.0/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <script type="text/babel" th:src="@{/js/scenarios.jsx}"
            src="../static/js/scenarios.jsx"></script>

    <script type="application/javascript">
        //        var webSocket = new WebSocket('ws://localhost/echo');
        //
        //        webSocket.onopen = function(event) {
        //            alert('onopen');
        //            webSocket.send("Hello Web Socket!");
        //        };
        //        webSocket.onmessage = function(event) {
        //            alert('onmessage, ' + event.data);
        //        };
        //
        //        webSocket.onclose = function(event) {
        //            alert('onclose');
        //        };
    </script>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KeenEye</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Projects</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <!--</div>-->
    <!--<div class="well">-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Scenarios</span>
                <a class="btn btn-default btn-sm pull-right" href="#modal" data-toggle="modal"
                   style="margin-top: -5px;" id="scenario-add">
                    Add
                </a>
            </div>
            <div class="panel-body" id="scenarios">
                <table class="table" th:remove="all">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Exec date</th>
                        <th>Result</th>
                        <th>Action</th>
                    </tr>
                    <tr class="row-active">
                        <td>0</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr class="row-non-active">
                        <td>0</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
